# ----------------------------
# ARQUIVOS DE AMBIENTE
# ----------------------------
.env
*.env

# ----------------------------
# AMBIENTE VIRTUAL (PYTHON)
# ----------------------------
venv/
.venv/
env/
ENV/

# ----------------------------
# CACHE E ARQUIVOS TEMPORÁRIOS
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# ----------------------------
# CONFIGURAÇÕES DE EDITOR
# ----------------------------
.vscode/
.idea/

# ----------------------------
# LOGS
# ----------------------------
*.log

# ----------------------------
# ARQUIVOS DO SISTEMA
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# BUILD / DIST
# ----------------------------
dist/
build/
*.egg-info/
